---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$intro-transition  : none;
$global-transition : none;
$text-color: #111;
// $link-color: #b1040e;
$twitter-color: #000;
$info-color: #c10000ec;
$primary-color: #c10000ec;
// $masthead-link-color : #b1040e;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials