/*@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700);

body {
  /*font: 20px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: Source Sans Pro, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #333;
  line-height: 1.5;
}

.normal_size{
	font-size:16px;
}

.post > p {
	text-align: justify;
}
strong{
  font-weight: 500;
}

.site-title {
  //color: #e3dfd5;
  color: #820000;
  font-weight: 700;
}

.mooc a{
  color: #820000;
}

.menu-cat{
  //color:#e3dfd5;
  color: #820000;
  border-bottom: 1px solid #820000;
  margin-top: 0.8em;
  padding-top: 0.2em;
  padding-bottom: 0.1em;
  font-weight: 400;
}

.btn-link, .btn-link:hover, .btn-link:focus{
  //color: #e3dfd5;
  color: #820000;
}

.MathJax{
	//color: #565347;
}


a, a:hover, a:focus {
  color: #820000;
  font-weight: 500;
  text-decoration: none;
}
.log_link{
  color: #827252;
}
p>a{
  color: #820000;
}

a small {
  font-size: 11px;
  color: #820000;
  margin-top: -0.6em;
  display: block;
}

h3 small{
  color: #aca68d;
}

.btn {
  font-size:16px;
  /*font-family: Source Sans Pro, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

.btn-default{
  background-color: #f2f1eb;
  border-color: #820000;
  color: #820000;
}
.btn-default:hover, .btn-default:focus{
  background-color: #f2f1eb;
  border-color: #820000;
  color: #820000;
}

.btn-blog{
  padding: 6px 8px;
}
a.kactive, a.kactive:hover, a.kactive:active, a.kactive:focus {
	color: #820000;
  background: #ECD19F;
  border-radius: 10px;
  font-weight: 500;
	padding: 2px 6px;
  text-shadow: none;
	margin: 2px 2px;
	text-decoration:none;
}

.barlink{
	padding: 2px 6px;
  margin: 2px 2px;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #8C1515;
  border-color: #8C1515;
  cursor: default;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#3f3c30;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

/*.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: rgba(69, 130, 236,0.05);
  background-color: rgba(231, 231, 231, 0.57)
 
}*/

del {
	color: red;
}
ins {
	color: green;
}
h4 > a{
  color: #827252;
}
.justify {
	text-align: justify;
}
.papers {
	line-height: normal;
	text-align: justify;
}
.papers li{
  padding-bottom: 10px; 
  font-size: 16px;
}
.quick li{
  margin-bottom: 10px;
}
.quick li > a{
  color: #827252;
}
.quick li > a:hover, a:focus{
  color: #820000;
}
.quick li .fa{
  padding-right: 5px;
}
.item p .fa{
  padding-right: 5px;
}
/*************************
**************************/



a.btn-cta-primary,
.btn-cta-primary {
  background: #54ba4e;
  border: 1px solid #54ba4e;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}
a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: #49ac43;
  border: 1px solid #49ac43;
  color: #fff;
}
a.btn-cta-secondary,
.btn-cta-secondary {
  background: #479fc8;
  border: 1px solid #479fc8;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}
a.btn-cta-secondary:hover,
.btn-cta-secondary:hover {
  background: #3893bd;
  border: 1px solid #3893bd;
  color: #fff;
}
.text-highlight {
  color: #32383e;
}
.label-theme {
  background: #3aaa64;
  font-size: 12px;
}
a.dotted-link {
  border-bottom: 1px dotted #778492;
  color: #778492;
}
a.dotted-link:hover {
  text-decoration: none;
  color: #49515a;
}
/* ======= Sections======= */
.sections-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section {
  margin-bottom: 15px;
  margin-top: 15px;
}
.section .section-inner {
  //background: #f2f1eb;
  background: rgba(247, 247, 247, 1);
  padding: 30px;
  border-bottom: 3px solid #c5beae;
}
.section .heading {
  margin-top: 0;
  margin-bottom: 30px;
  color: #3f3c30;
  font-size: 28px;
}
.section .content .more-link .fa {
  margin-right: 5px;
  font-size: 14px;
}
/* About Section */
/* Latest Section */
.latest .item {
  margin-bottom: 30px;
}
.latest .item .title {
  font-size: 18px;
  margin-top: 0;
}
.latest .item .title .label {
  margin-left: 5px;
  font-size: 12px;
}
.latest .item .title a {
  color: #827252;
}
.latest .item .title a:hover {
  color: #820000;
}
.latest .item .project-image:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.latest .divider {
  margin-bottom: 60px;
}
.latest .featured {
  margin-bottom: 60px;
}
.latest .featured .title {
  margin-bottom: 5px;
  font-size: 20px;
}
.latest .featured .summary {
  margin-bottom: 30px;
  color: #778492;
}
.latest .featured img {
  margin-bottom: 30px;
}
.latest .featured .desc {
  margin-bottom: 30px;
}
.latest .featured-image {
  position: relative;
}
.latest .featured-image .text {
  background: #3aaa64;
  color: #fff;
}
.latest .featured-image .ribbon {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 110px;
  height: 110px;
  overflow: hidden;
}
.latest .featured-image .ribbon .text {
  //font-family: 'Montserrat', sans-serif;
  position: relative;
  left: -8px;
  top: 18px;
  width: 158px;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #479fc8;
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -o-transform: rotate(45deg) translate3d(0, 0, 0);
}
.latest .featured-image .ribbon .text:before,
.latest .featured-image .ribbon .text:after {
  content: '';
  position: absolute;
  bottom: -5px;
  border-top: 5px solid #276582;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.latest .featured-image .ribbon .text:before {
  left: 0;
}
.latest .featured-image .ribbon .text:after {
  right: 0;
}
/* Projects Section */
.projects .item {
  margin-bottom: 30px;
}
.projects .item .title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5;
}
.projects .item .title a {
  color: #778492;
}
.projects .item .title a:hover {
  color: #5f6b77;
}
/* Work Section */
.experience .item {
  margin-bottom: 30px;
}
.experience .item .title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5;
}
.experience .item .title .place {
  color: #777777;
  font-weight: normal;
}
.experience .item .title .place a {
  color: #777777;
}
.experience .item .title .place a:hover {
  color: #666666;
}
.experience .item .title .year {
  color: #777777;
  font-weight: normal;
}
/* Git section */
.ghfeed {
  height: 500px;
}
.ghfeed,
.ghfeed *,
.ghfeed *:before,
.ghfeed *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* Info Section */
.info .fa {
  margin-right: 15px;
  //color: #ccd1d6;
}
.info .fa.fa-envelope-o {
  font-size: 14px;
}
.info ul {
  margin-bottom: 0;
}
.info li {
  margin-bottom: 15px;
}
.info li:last-child {
  margin-bottom: 0;
}
.info a {
  color: #827252;
}
.info a:hover, a:focus{
  color: #820000;
}
/* Skills Section */
.skills .intro {
  margin-bottom: 30px;
}
.skills .skillset .item {
  margin-bottom: 30px;
}
.skills .skillset .level-title {
  font-size: 16px;
  position: relative;
  margin-top: 0;
  margin-bottom: 10;
}
.skills .skillset .level-title .level-label {
  //color: #ccd1d6;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", arial, sans-serif;
  position: absolute;
  right: 0;
  top: 0;
}
.skills .skillset .level-bar {
  height: 15px;
  background: #e8e8e8;
}
.skills .skillset .level-bar-inner {
  height: 15px;
  background: #66cb8c;
}
/* Testimonials section */
.testimonials .item {
  margin-bottom: 30px;
}
.testimonials .item:last-child {
  margin-bottom: 0;
}
.testimonials .item .quote {
  color: #666666;
  font-size: 16px;
  border-left-color: #9fdeb7;
  margin-bottom: 15px;
}
.testimonials .item .quote .fa {
  color: #79d19a;
  margin-right: 15px;
}
.testimonials .item .source {
  font-size: 14px;
  padding-left: 30px;
  font-weight: 500;
}
.testimonials .item .source .name {
  color: #939ea9;
  font-weight: 500;
}
.testimonials .item .source .title {
  color: #777777;
}
/* Education section */
.education .item {
  margin-bottom: 30px;
}
.education .item:last-child {
  margin-bottom: 0;
}
.education .item .title {
  font-size: 18px;
  margin-top: 0;
}
.education .item .university {
  //font-family: "Lato", arial, sans-serif;
  font-size: 16px;
  color: #8a887d;
  font-weight: 500;
  padding-left: 25px;
}
.education .item .university .year {
  color: #98959d;
  font-weight: 500;
}
/* Language Section */
.languages .item {
  margin-bottom: 15px;
}
.languages .item .title {
  color: #778492;
}
.languages .item .level {
  color: #777777;
}
.languages .item:last-child {
  margin-bottom: 0;
}
.languages .item .fa {
  color: #79d19a;
}
/* Blog Section */
.blog .item {
  margin-bottom: 30px;
}
.blog .item .title {
  font-size: 20px;
  line-height: 1.3;
}
.blog .item .title a {
  color: #827252;
}
.blog .item .title a:hover {
  color: #820000;
}
.blog .item:last-child {
  margin-bottom: 0;
}
/* List section */
.list ul li {
  margin-bottom: 10px;
}
.list ul li .fa {
  margin-right: 5px;
}
.list ul li a {
  color: #827252;
}
.list ul li a:hover {
  color: #820000;
}
/* Credits */
.credits ul li {
  margin-bottom: 10px;
}
.credits ul li .fa {
  margin-right: 5px;
}
.credits ul li a {
  color: #778492;
}
.credits ul li a:hover {
  color: #49515a;
}
.credits .btn {
  margin-bottom: 15px;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .header {
    text-align: center;
  }
  .header .profile-image {
    float: none !important;
    margin: 0 auto;
  }
  .header .profile-content {
    float: none !important;
    text-align: center;
  }
  .header .btn {
    margin-top: 30px;
    float: none !important;
  }
  .project-image {
    margin-bottom: 15px;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Ex-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1360px;
  }
}

h3.title > a{
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6{
  color: #3f3c30;
}











