@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:700);

body {
  font:22px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#345;
  font-weight:500;
}

.site-title {
  font:35px/1 Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#005;
}


h1, h2, h3, h4, h5, h6 {
  color:#222;
  /*margin:20 20 20px;*/
}




h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}


code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}


