@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

body {
  font:20px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#333;
  font-weight:500;
}

.site-title {
  font:32px/1 Varela Round, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#222;
  font-weight:500;
}


h1, h2, h3, h4, h5, h6 {
  color:#222;
  /*margin:20 20 20px;*/
}


.menu-cat{
  font:25px/1 Varela Round, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#333;
  border-bottom: 1px solid gray;
  margin-top: 0.8em;
  padding-top: 0.2em;
  padding-bottom: 0.1em;

}
.MathJax{
	color: #555;
}
h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  //color:#39c;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

.btn {
	font-size:18px;
}
a.kactive, a.kactive:hover, a.kactive:active, a.kactive:focus {
	color: #022b6d;
	border-bottom: 1px gray dotted;
	padding: 0px 0px;
	margin: 8px 12px;
	text-decoration:none;
}



code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  //background-color: rgba(69, 130, 236,0.05);
  background-color: whitesmoke;
 
}

del {
	color: red;
}
ins {
	color: green;
}
